name: CI

on:
  push:
  pull_request:

jobs:
  python_syntax_check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Syntax check
        run: python -m py_compile pqc_discovery.py
